main {
    .desktopOne__sub__title {
        top: 182px;
    }
    .desktopOne__title {
        top: 251px;
    }
    .desktopOne__text {
        top: 353px;
    }
    .desktopOne--button {
        top: 507px;
    }
}