* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    color: #ffffff;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

html, body {
    overflow: hidden;
}

