@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    color: #ffffff;
    text-align: center;
}

@import "./background";
@import "./text";
@import "./button";
@import "./scroll";